.footer {
  border-top: 1px solid rgb(202, 199, 199);
  padding-top: 40px;
  padding-bottom: 40px;
}
.danger {
  margin-left: 34%;
  position: absolute;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.danger:hover {
  color: #000;
  text-decoration: none;
}
.pdtop {
  display: block;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.7;
  padding-top: 6px;
  font-size: 14px;
  color: #272626;
  position: absolute;
  left: 40%;
}
.pdtop:hover {
  color: black;
  opacity: 1;
}
.left {
  margin: 0;
  cursor: pointer;
  opacity: 0.7;
  text-align: left;
  font-size: 14px;
  color: #272626;
}
.left:hover {
  color: #000;
  opacity: 1;
}
