.menu {
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  background: #669cb8;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #4687a9;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 901;
  margin: auto;
  transition: 0.5s all;
}
.navlinks {
  z-index: 2;
  padding-left: 40px;
  text-decoration: none;
  color: #fff;
}
.danger {
  position: absolute;
  color: #fff;
  text-decoration: none;
}
.navlinks:hover {
  color: #fff;
  text-decoration: none;
}
.danger:hover {
  color: #fff;
  text-decoration: none;
}
